.wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 32px;
}

.head {
    font-size: 24px;
}

.wrapperCards {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.wrapperCard {
    margin-top: 32px;
}

.wrapperText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}