.wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 32px;
}

.list {
    display: flex;
    gap: 16px;
}

.listElement {
    color: gray
}

.link {
    color: gray;
    text-decoration: unset;
}

.head {
    font-size: 24px;
    margin: 32px 0;
}

.wrapperCards {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.wrapperCard {
    margin-top: 32px;
}

.wrapperText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}