.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    gap: 24px;
}

.wrapperList {}

.list {
    display: flex;
    gap: 16px;
}

.listElement {
    color: gray
}

.button {
    cursor: pointer;
}

.content {
    display: flex;
    gap: 32px;
}

.text {
    margin-bottom: 32px;
}

.wrapperAnalogProduct{
    display: flex;
}