.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 16px 0px;
    font-size: 24px;
}

.button {
    cursor: pointer;
}

.left {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 16px;
}

.center {
    flex-shrink: 0;
}

.title {
    text-decoration: unset;
    color: black
}

.right {
    display: flex;
    gap: 24px;
}