.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 16px;
    border-top: 2px solid #f7f7f7;
}

.wrapperSocials {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 48px 0;
}

.image {
    width: 35px;
}

.commerce {
    display: flex;
    justify-content: space-between;
}

.text {
    font-size: 14px;
}

.link {
    text-decoration: unset;
    color: unset;
}